<VirtualHost *:80>

  ServerName {{ rundeck_apache2_domain }}
  Redirect permanent / https://{{ rundeck_apache2_domain }}/

</VirtualHost>

<VirtualHost *:443>

  ServerName {{ rundeck_apache2_domain }}
  ProxyPreserveHost Off

  SSLEngine on
  SSLProxyEngine On
  SSLCertificateFile {{ rundeck_apache2_cert_file }}
  SSLCertificateKeyFile {{ rundeck_apache2_cert_keyfile }}

  ProxyPass / http://localhost:4440/
  ProxyPassReverse / http://localhost:4440/

</VirtualHost>
